<section class="home-faq">
    <div class="container home-faq-content">
        <h2>Got questions? We've got answers.</h2>
        <p style="margin: 1rem 0;">Check out our FAQ section to learn more about SomoCloud</p>
        <div class="faq-container">
            <div class="faq">
                <p class="question">What is SomoCloud?</p>
                <p class="answer">SomoCloud is an online learning management system (LMS) that offers courses and training programs in a variety of subjects. It is designed to provide users with a personalized and engaging learning experience.</p>
            </div>
            <div class="faq">
                <p class="question">Who can use SomoCloud?</p>
                <p class="answer">SomoCloud is open to anyone who wants to learn and improve their skills. Our courses are designed for individuals, businesses, and organizations looking to develop their knowledge and skills.</p>
            </div>
            <div class="faq">
                <p class="question">How do I sign up for SomoCloud?</p>
                <p class="answer">You can sign up for SomoCloud by visiting our website and clicking on the "Sign Up" button. You will need to provide some basic information, such as your name and email address, to create an account.</p>
            </div>
            <div class="faq">
                <p class="question">How much do SomoCloud courses cost?</p>
                <p class="answer">The cost of courses on SomoCloud varies depending on the subject, the level of the course, and the instructor. Some courses are free, while others may cost several hundred dollars. You can view the price of a course on the course page before enrolling.</p>
            </div>
            <div class="faq">
                <p class="question">What is the refund policy for SomoCloud courses?</p>
                <p class="answer">The refund policy for SomoCloud courses varies depending on the course and the instructor. Some courses may offer a full refund within a certain timeframe, while others may not offer refunds at all. You can view the refund policy for a course on the course page before enrolling.</p>
            </div>
        </div>
    </div>
</section>
