<section class="home-testimonials">
    <div class="container home-testimonials-content">
        <h2>Testimonials</h2>
        <p style="margin: 1rem 0;">Hear from our satisfied students.</p>
        <div class="testimonial-grid">
        <img src='{% static 'img/testimonial-img.webp' %}'>
        <div class="testimonial-container">
            <div id="testimonial-0" class="testimonial">
                <img src="https://api.dicebear.com/5.x/shapes/svg?seed=JohnDoe">
                <p style=" margin: .5rem 0;">"I've taken many online courses before, but this one stands out. The instructor was engaging and the content was well-organized. I learned so much and feel confident putting my new skills to use!"</p>
                <h3>- John Doe</h3>
                <p style="font-size: small;">Data Analyst</p>
            </div>
            <div id="testimonial-1" class="testimonial">
                <img src="https://api.dicebear.com/5.x/shapes/svg?seed=Felix">
                <p>"The course exceeded my expectations. It covered everything from the basics to advanced techniques, and the instructor was knowledgeable and patient. Highly recommend!"</p>
                <h3>- Sarah K</h3>
                <p style="font-size: small;">Data Analyst</p>
            </div>
            <!-- <div id="testimonial-2" class="testimonial">
                <img src="https://api.dicebear.com/5.x/shapes/svg?seed=Felix">
                <p style=" margin: .5rem 0;">"I've taken many online courses before, but this one stands out. The instructor was engaging and the content was well-organized. I learned so much and feel confident putting my new skills to use!"</p>
                <h3>John Doe</h3>
                <p style="font-size: small;">Data Analyst</p>
            </div> -->
        </div>
        </div>
    </div>
</section>
